/* PortfolioTabs.css */


#chapter {
  text-align: center;
  font-family: 'Schoolbell', Arial, serif;
  margin: 0;
}

#description {
  background-attachment: local;
  padding: 10px;
  margin-top: 3vh;
  max-height: 80vh;
  font-family: 'Schoolbell', Arial, serif;
  overflow-y: auto;
  box-sizing: border-box;
}

#top {
  text-align: left;
  visibility: hidden;
  font-family: 'Schoolbell', Arial, serif;
  margin: 0;
  position: fixed;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .folder {
    background-color: blue;
  }
}
